body {
  font-family: "Noto Sans KR", sans-serif;
}

header {
  background-color: #FFFFFF;
  height: 120px;
  color: #341A12;
  padding: 0 50px;
  margin: 0;
  display: flex;
  justify-content: space-between; /* 사이드로 밀기 */
  align-items: center; /* 높이 중앙 정렬 (flex box) */
  border-bottom: 1px solid #341A12;
  font-weight: bold;
  font-size: 25px;
}

.logo img {
  width: 130px;
  height: auto;
}

nav a {
  text-decoration: none;
  color: #341A12;
}

nav a:hover {
  color: #AFD198;
}

nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 70px; /* 메뉴 간 여백 */
  margin-top: 10px;
}

nav li:last-child {
  margin-right: 0; /* 마지막 메뉴 오른쪽 여백 제거 */
  margin-top: 0px;
}

nav img {
  width: 50px;
  display: block;
  margin: 0 auto;
}

nav ul li.nav_mypage a:hover img {
  content: url('src/img_mypage2.png'); 
}

.background-image {
  background-image: url('src/mypage_background.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 1505px;
  height: 400px; 
  z-index: -1;
  position: absolute;
  margin: 0;
}

#my {
  display: flex;
  justify-content: space-between;
  margin: 80px 70px 50px 170px;
  background-color: #FFFFFF;
}

.left_wrap {
  display: flex;
  width: 800px;
  flex-direction: column; /* 내부 요소들을 세로로 배치합니다. */
  border: 2px solid black;
  margin: 0 50px 0 0;
}

.profile_wrap{
  display: flex;
  padding: 0;
  margin: 0;
  height: 300px;
  width: 800px;
}

.profile-pic {
  margin: 50px 30px 40px 30px;
  width: 200px; /* 프로필 사진의 너비 */
  height: 200px; /* 프로필 사진의 높이 */
  border-radius: 50%; 
  overflow: hidden;
}

.profile-pic input[type="file"] {
  display: none; 
}

.profile-pic img {
  width: 100%; /* 내부 이미지를 부모 요소에 꽉 채우도록 설정합니다. */
  height: auto; /* 이미지의 비율을 유지합니다. */
  cursor: pointer; /* 마우스를 가져다 대면 포인터 모양으로 변경합니다. */
}

.profile_info {
  margin: 30px 10px 30px 0;
  border: 2px solid black;
  width: 500px;
  height: 250px;
}

.list_like_wrap {
  display: flex;
  margin: 0;
  height: 600px;
  width: 800px;
  border: 2px solid black;
}


.right_wrap {
  width: 500px;
  flex-direction: column; /* 내부 요소들을 세로로 배치합니다. */
  border: 2px solid black;
  
}