body {
  margin: 0;
  padding: 0;
  font-family: "Nanum DaHaengCe", "Noto Sans KR", sans-serif;
}

header {
  background-color: #FFFFFF;
  color: #341A12;
  height: 130px;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between; /* 사이드로 밀기 */
  align-items: center; /* 높이 중앙 정렬 (flex box) */
  border-bottom: 1.5px solid #341A12;
  font-weight: bold;
  font-size: 30px;
  z-index: 100;
}

header .logo img {
  padding-left: 50px;
  width: 130px;
  height: auto;
}

header nav {
  padding-right: 50px;
}

header a {
  text-decoration: none;
  color: #341A12;
}

header a:hover {
  color: #AFD198;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header ul li {
  margin-right: 60px; /* 메뉴 간 여백 */
  margin-top: 15px;
}

header ul li:last-child {
  margin-left: 40px;
  margin-right: 0px; 
  margin-top: 0px;
}

header nav img { 
  width: 50px;
  display: block;
  margin: 0 auto;
}

header nav ul li:last-child a:hover img {
  content: url('src/img_mypage2.png'); 
}

#home {
  display: flex;
  /* background-color: #EEEEEE; */
  margin: 180px 0 30px 0;
  padding: 30px 0;
  height: 600px;
  width: 100%;
}

.intro {
  display: flex;
  position: relative;
  /* background-color: #F4F775; */
  margin: 0 50px;
  height: 600px;
  width: 100%;
  align-items: center;
  color: #341A12;
  font-size: 35px;
  font-family: "Nanum DaHaengCe", "Noto Sans KR", sans-serif;
}

.intro_01 {
  /* background-color: aliceblue; */
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 30px;
  width: 70%;
  height: 150px;
  align-content: center;
  text-align: left;
}

.intro img {
  /* background-color: #FF8FAF; */
  margin-left: 30px;
  width: 80%;
}

.intro_02 {
  /* background-color: aliceblue; */
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 150px;
  align-content: center;
  text-align: right;
}

.banner {
  border: 2px solid #000000;
  margin: 0 50px;
  height: 600px;
  width: 100%;
}

#info {
  display: flex;
  flex-direction: column; /* 수직 정렬 (기본 값: row) */
  /* background-color: #EEEEEE; */
  height: 1260px;
  width: 100%;
}

.info_title {
  /* background-color: #AFD198; */
  text-align: center;
  align-content: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.info_title h2 {
  margin: 0;
  padding: 0;
}

.info_text_esg {
  /* background-color: aliceblue; */
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.info_text_esg p {
  margin: 0;
  padding: 0;
}

.esg {
  /* border: 2px solid #000000; */
  background-color: #F9F9F9;
  margin: 0;
  padding: 50px;
  height: 600px;
  width: auto;
  display: flex;
  flex-direction: column;
}

.esg_circle {
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

.circle {
  background-color: #E8EFCF;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
}

.circle:hover .circle_text {
  opacity: 1;
}

.circle:hover .circle_title {
  display: none;
}

.circle:hover {
  background-color: #AFD198;
}

.circle_text {
  width: 300px;
  height: 300px;
  margin: 0 50px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: opacity 0.3s ease;
  opacity: 0;
  /*background-color: rgba(0, 0, 0, 0.2);*/
}

.circle_text h3 {
  margin: 0;
  padding: 0;
  font-size: 35px;
}

.circle_text p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 25px;
}

.given {
  border: 2px solid #000000;
  margin: 0;
  padding: 50px;
  height: 500px;
  width: auto;
  position: relative;
}

.info_text_given {
  background-color: aliceblue;
  text-align: left;
  font-size: 30px;
  margin-bottom: 50px;
  position: absolute;
  top: 150px;
  left: 50px;
}

.info_img_given img {
  background-color: coral;
  position: absolute;
  width: 300px;
  top: 180px;
  left: 50px;
}

.info_text_given_2 {
    background-color: aliceblue;
    text-align: right;
    font-size: 30px;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.info_img_given_2 img {
  background-color: coral;
  position: absolute;
  width: 300px;
  bottom: 0px;
  right: 50px;
}