body {
  font-family: "Noto Sans KR", sans-serif;
}

header {
  background-color: #FFFFFF;
  height: 120px;
  color: #341A12;
  padding: 0 50px;
  margin: 0;
  display: flex;
  justify-content: space-between; /* 사이드로 밀기 */
  align-items: center; /* 높이 중앙 정렬 (flex box) */
  border-bottom: 1px solid #341A12;
  font-weight: bold;
  font-size: 25px;
}

.logo img {
  width: 130px;
  height: auto;
}

nav a {
  text-decoration: none;
  color: #341A12;
}

nav a:hover {
  color: #AFD198;
}

nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 70px; /* 메뉴 간 여백 */
  margin-top: 10px;
}

nav li:last-child {
  margin-right: 0; /* 마지막 메뉴 오른쪽 여백 제거 */
  margin-top: 0px;
}

nav img {
  width: 50px;
  display: block;
  margin: 0 auto;
}

nav ul li.nav_mypage a:hover img {
  content: url('src/img_mypage2.png'); 
}

.money_title {
  height: 60px; /* 높이를 70px로 설정합니다. */
  border: 3px solid;
  border-color: pink;
  /* background-color: #f09a9a;  배경색을 지정합니다. */
  display: flex; /* 내부 요소들을 가로로 정렬하기 위해 flex를 사용합니다. */
  align-items: center; /* 내부 요소를 수직 가운데 정렬합니다. */
   /* 내부 요소를 수평 가운데 정렬합니다. */
  font-size: 20px; /* 텍스트의 크기를 설정합니다. */
  font-weight: bold;
  padding-left: 30px;
  width: 200px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

#money_wrap {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 0;
  padding: 0 0 50px 0;
  height: 100%;
  width: 100%;
  /*background-color: #EEEEEE;*/
}

.filter {
  /* 필터 기능에 대한 스타일을 추가합니다. */
  border: 2px solid black;
  height: 200px;
  margin: 0 50px 20px 50px;
  width: auto;
  /*width: calc(100% - 100px);*/ 
}

.money_list {
  border: 2px solid black;
  margin: 0 50px;
  /*width: calc(100% - 100px);*/
  width: auto;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 가로에 3개의 카드를 정렬합니다. */
  grid-gap: 40px; /* 카드 사이의 간격을 설정합니다. */
}

.card {
  background-color: #9efb82; /* 카드의 배경색을 설정합니다. */
  border-radius: 10px; /* 둥근 테두리를 생성합니다. */
  width: 310px;
  height: 350px;
}