body {
  font-family: "Noto Sans KR", sans-serif;
}

header {
  background-color: #FFFFFF;
  height: 120px;
  color: #341A12;
  padding: 0 50px;
  margin: 0;
  display: flex;
  justify-content: space-between; /* 사이드로 밀기 */
  align-items: center; /* 높이 중앙 정렬 (flex box) */
  border-bottom: 1px solid #341A12;
  font-weight: bold;
  font-size: 25px;
}

.logo img {
  width: 130px;
  height: auto;
}

nav a {
  text-decoration: none;
  color: #341A12;
}

nav a:hover {
  color: #AFD198;
}

nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 70px; /* 메뉴 간 여백 */
  margin-top: 10px;
}

nav li:last-child {
  margin-right: 0; /* 마지막 메뉴 오른쪽 여백 제거 */
  margin-top: 0px;
}

nav img {
  width: 50px;
  display: block;
  margin: 0 auto;
}

nav ul li.nav_mypage a:hover img {
  content: url('src/img_mypage2.png'); 
}

#heart {
  display: flex;
  margin: 50px 0 0 0;
  padding: 0 0 50px 0;
  height: 100%;
  width: 100%;
  /*background-color: #EEEEEE;*/
}

.message_title{
  height: 60px; /* 높이를 70px로 설정합니다. */
  border: 3px solid;
  border-color: pink;
  /* background-color: #f09a9a;  배경색을 지정합니다. */
  display: flex; /* 내부 요소들을 가로로 정렬하기 위해 flex를 사용합니다. */
  align-items: center; /* 내부 요소를 수직 가운데 정렬합니다. */
   /* 내부 요소를 수평 가운데 정렬합니다. */
  font-size: 20px; /* 텍스트의 크기를 설정합니다. */
  font-weight: bold;
  padding-left: 30px;
  width: 200px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.message_wrap {
  position: relative;
  margin: 0 50px 0 70px;
  height: 700px;
  width: 80%;
  border: 2px solid black;
  box-sizing: border-box;
}

.message_wrap .message_header {font-size: 15px; padding:10px; background-color: beige; text-align: center;}
.message_wrap .chat {padding-bottom: 100px;}
.message_wrap .chat ul {width:100%; list-style: none;}
.message_wrap .chat ul li {width : 100%}
.message_wrap .chat ul li.left {text-align: left;}
.message_wrap .chat ul li.right {text-align: right;}

.message_wrap .chat ul li > div { font-size: 13px;}
.message_wrap .chat ul li > div.sender {margin: 10px 20px 0 20px; font-weight: bold;}
.message_wrap .chat ul li> div.message {display: inline-block; word-break:break-all; margin:5px 20px; 
  max-width: 75%; border:1px solid #888; padding: 10px; border-radius: 5px; 
  background-color: #FCFCFC; color: #555; text-align:left;}
.message_wrap .input {position: absolute; bottom: 0; left:0; width: calc(100% - 4px); 
  padding: 10px; box-sizing: border-box; background-color:#FFF; text-align:center; border-top:1px solid #F18C7E;}
.message_wrap .input > textarea{width: calc(100% - 20px); height:80px; border:none;  box-sizing: border-box;}

.format {display:none;}

.tree_img {
  border: 2px solid black;
  margin: 0 50px 0 70px;
  height: 600px;
  width: 90%;
}